<h1>Lists</h1>
<br />
<% if @lists.any? %>
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= link_to "List - #{list.name}", list_path(list) %>
        <%= button_to 'Edit List', edit_list_path(list), method: :get %>
        <%= button_to "Delete List", list_path(list), method: :delete, data: {confirm: 'Really delete this item?'} %>
      </li>
    <% end %>
  </ul>
  <% else %>
    <h3>No lists to show</h3>
<% end %>
<hr />
<%= link_to 'Create a New List', new_list_path %>